# SPDX-FileCopyrightText: 2024 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: GPL-3.0-only
---
- name: Check for unsupported services on single server
  hosts: all
  gather_facts: false
  tasks:
    - name: Fail if the host is in unsupported groups
      ansible.builtin.fail:
        msg: |
          Wrong inventory file. LDAP replica, Syslog and Prometheus are not supported on single server. 
          Remove hostnames from replicaDirectoryServers, syslogServer, prometheusServers groups in your inventory file.
      when: inventory_hostname in groups['replicaDirectoryServers'] or
            inventory_hostname in groups['syslogServer'] or
            inventory_hostname in groups['prometheusServers']
      run_once: true

- name: Install Carbonio
  import_playbook: "{{ install_path }}"
  when: install_path is defined and install_path != ''

- hosts: all
  order: inventory
  gather_facts: yes
  roles:
     - ../roles/carbonio_singleserver